<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.board.model.repo.BoardRepo">

<!--     <resultMap id="catResult" type="Cat">
      <id property="code" column="code" />
      <result property="nickname" column="nickname"/>
      <result property="price" column="price"/>
      <result property="id" column="id"/>
      <association property="user" javaType="User">
        <id property="id" column="id"/>
        <result property="pw" column="pw"/>
        <result property="name" column="name"/>
      </association>
    </resultMap>
 -->
	
 
    <insert id="writeArticle">
    	insert into board (author, title, article)
    	values (#{author}, #{title}, #{article})
    </insert>
    
    <select id="listArticle" resultType="board">
        select * from board
        order by articleNo desc
    </select>
    
    <select id="searchByCondition" resultType="board">
        SELECT *
        FROM board WHERE title LIKE
        CONCAT('%',#{word},'%')
    </select>
    
    <select id="getArticle" resultType="board">
        select * 
        from board 
        where articleNo = #{articleNo}
    </select>
    
    <update id="updateCnt">
		update board set 
		cnt = ${cnt} + 1
		where articleNo = #{articleNo}
    </update>
    
    <update id="modifyArticle">
		update board set 
		title=#{title},
		article=#{article}
        where articleNo = #{articleNo}
    </update>
    
    <delete id="deleteArticle">
		delete from board 
		where articleNo = #{articleNo}
    </delete>
    
</mapper>