<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.comment.model.repo.CommentRepo">

    <insert id="create">
    	insert into comment (reviewId, userId, content)
    	values (#{reviewId}, #{userId}, #{content})
    </insert>
    
    <select id="list" resultType="comment">
        select * from comment
        where reviewId = #{reviewId}
        order by id desc
    </select>
    
    <update id="update">
		update comment set
            content=#{content}
        where id = #{id}
    </update>
    
    <delete id="delete">
		delete from comment
		where id = #{id}
    </delete>
    
</mapper>